@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: white;
    color: black;
}
button:disabled {
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
}
.master {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: black;
    
}
.logo-equipo {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    
}
.div1 {
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    display: flex;
    width: 100%;
    height: 13em;
    justify-content: space-around;
    margin: 10px 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.div2 {
    display: flex;
    width: 100%;
    height: 20em;
    justify-content: space-around;
    
    border-left: 3px solid white;
    border-right: 3px solid white;
    }
.div3{
    display: flex;
    width: 100%;
    height: 10em;
    margin-bottom: 15px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;

}
#modal_sancion .modal-dialog {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: flex-end;
    min-height: 100vh;
    margin: 0;
}
.equipos {
    width: 100%;
    display: flex  ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-content: center;
    margin: 0 5px;
}
.modal-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.equipos_fuente{
    font-family: ds-digital, sans-serif;
    font-size: 3em;
    width: 100%;
    color: white;
    text-align: center;
}
.equipos_fuente1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8em;
    text-transform: capitalize;
    color: white;
    text-align: center;
    width: 4em;           /* ancho fijo */
    margin-top: 8%;       /* alto fijo */
         /* oculta el exceso */
    
    text-overflow: ellipsis; /* agrega ... si el texto es muy largo */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.periodo{
    display: flex;
    
    align-items: center;
    justify-content: center;
    
}
.goles {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ds-digital, sans-serif;
    font-size: 10em;
    color: rgb(239, 255, 17);
    
}
.periodo_letras{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.goles_periodo {
    display: flex;
    
    
    font-family: ds-digital, sans-serif;
    font-size: 8em;
    color: rgb(13, 255, 13);
    
}
.tiempo{
    display: flex;
    
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    font-family: ds-digital, sans-serif;
    font-size: 5em;
    width: 8em;
    height: 2em;
}

.tiempo_fuente {
    font-family: ds-digital, sans-serif;
    font-size: 1.6em;
    color: red;
    text-align: center;
}
.logo_upload{
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    border: 1px solid white;
    width: 70%;
}

.sanciones-row {
    display: flex;
    margin-left: 120px;
    width: 50%;
    margin-bottom: 30px;
    
    margin: 10px 0;
}
.sanciones-row2 {
    border-left: 4px solid wheat;
    display: flex;
    margin-left: 21em;
    width: 50%;
    margin-bottom: 30px;
    
    margin: 10px 0;
}
.sancion-box {
    background: #020b5ac9;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'ds-digital', Arial, sans-serif;
}
.sancion-box[style*="background-color: green"] {
    color: #fff;
    font-family: sans-serif;
}
.sancion-numero {
    font-family: sans-serif;
    font-size: 1.8em;
    margin-bottom: 5px;
}
.sancion-crono {
    font-family: sans-serif;
    font-size: 1.8em;
    margin-top: 5px;
}

@media (max-width: 1100px), (max-height: 600px) {
    body {
        font-size: 0.95em;
    }
    .logo-equipo {
        width: 150px;
        height: 150px;
        object-fit: cover; /* rellena el espacio y recorta si es necesario */
    border-radius: 0;  /* opcional: cuadrado, o pon 50% para círculo */
    background: #222;
    }
    .goles {
        font-size: 10em;
    }
    .periodo_letras{
        margin-bottom: 0px;
        
    }
    .goles_periodo {
        display:flex ;
        align-items: center;
        align-self: center;
        align-content: center;
        font-size: 8em;
    }
    .equipos_fuente1 {
        font-size: 2.5em;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold;
        height: 3em;
        margin-top: 2%;
    }
    .div1{
        height: 18em;
    }
    .div2{
        height: 10em;
    }
    .div3{
        height: 8em;
        margin-bottom: 2px;
        border-top: 3px solid  white;
        border-bottom: 3px solid white;
    }
    .sanciones-row,
    .sanciones-row2 {
        width: 100%;
        font-size: 0.9em;
        margin-left: 0;
    }
    .sancion-box {
        width: 7em;
        font-weight: bold;
        font-size: 1em;
        margin-left: 5px;
        padding: 4px;
    }
    
    #modal_sancion  {
        min-height: 100vh;
        align-items: flex-end;
    }
    
    .tiempo {
        font-size: 4.7em;
        width: 100%;
        height: 1.5em;
    }
    .tiempo_de_juego{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}